################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ArquivoTexto/obj
/ArquivoTexto/bin/Debug/net5.0
/Aula2Exemplo/obj
/Aula2Exemplo/bin/Debug
/OutroProjeto/obj
/AulaOrientacaoObjetos/bin/Debug/net5.0
/AulaOrientacaoObjetos/obj
/ComparandoObjetos/bin/Debug/net6.0
/ComparandoObjetos/obj
/Delegate/bin/Debug/net6.0
/Delegate/obj
/DelegateParametro/obj
/EventosEDelegate/obj
/SobrecargaOperador/bin/Debug/net5.0
/SobrecargaOperador/obj
/UpcastDowncast/obj
/UsandoDispose/bin/Debug/net5.0
/UsandoDispose/obj
