################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ArquivoTexto/obj
/ArquivoTexto/bin/Debug/net5.0
/Aula2Exemplo/obj
/Aula2Exemplo/bin/Debug
/OutroProjeto/obj
/AulaOrientacaoObjetos/bin/Debug/net5.0
/AulaOrientacaoObjetos/obj
/ComparandoObjetos/bin/Debug/net6.0
/ComparandoObjetos/obj
/Delegate/bin/Debug/net6.0
/Delegate/obj
/DelegateParametro/obj
/EventosEDelegate/obj
/SobrecargaOperador/bin/Debug/net5.0
/SobrecargaOperador/obj
/UpcastDowncast/obj
/UsandoDispose/bin/Debug/net5.0
/UsandoDispose/obj
/DelegateParametro/bin/Debug/net6.0/ref
/DelegateParametro/bin/Debug/net6.0
/EventosEDelegate/bin/Debug/net6.0
/ExerciciosResolvidosRoteiro3/Exercicio3/bin/Debug/net5.0
/ExerciciosResolvidosRoteiro3/.vs/ExerciciosResolvidosRoteiro3/v17
/ExerciciosResolvidosRoteiro3/Exercicio3/obj
/ExerciciosResolvidosRoteiro3/ExerciciosResolvidosRoteiro3/obj
/AulaOrientacaoObjetos/bin/Debug/net6.0
/Basico/bin/Debug/net6.0
/Basico/obj
/ExerciciosResolvidosRoteiro3/.vs/ExerciciosResolvidosRoteiro3/DesignTimeBuild
/Heranca/bin/Debug/net5.0
/Heranca/obj
/Generics/bin/Debug/net6.0
/Generics/obj
/Generics2/bin/Debug/net6.0
/Generics2/obj
/Generics3/bin/Debug/net5.0
/Generics3/obj
/Interfaces/obj
/Listas/obj
/Interfaces/bin/Debug/net6.0
/UsandoDispose/bin/Debug/net6.0
/UsandoStatica/bin/Debug/net6.0
/UsandoStatica/obj
/AcessoBancoDados/AcessoBancoDados/bin/Debug/net6.0
/AcessoBancoDados/AcessoBancoDados/obj
/AcessoBancoDados/AcessoDapper/obj
/AcessoBancoDados/AcessoEntity/obj
/AcessoBancoDados/.vs/AcessoBancoDados
/EstruturasDeDados/bin/Debug/net6.0
/EstruturasDeDados/obj
/Listas/bin/Debug/net5.0
/Listas2/bin/Debug/net5.0
/Listas2/obj
/AcessoBancoDados/AcessoDapper/bin/Debug/net6.0
/CadAlunos/.vs/CadAlunos/v17
/CadAlunos/CadAlunos/bin/Debug/net6.0
/CadAlunos/CadAlunos/obj
/CadAlunos/PadraoFabrica/bin/Debug/net6.0
/CadAlunos/PadraoFabrica/obj
/CadAlunos/.vs/CadAlunos/DesignTimeBuild
/CadAlunos/.vs/CadAlunos
/ApiRest/.vs/ApiRest
/ApiRest/ApiRest/bin/Debug/net6.0
/ApiRest/ApiRest/obj
/ApiRest/.vscode
/ApiRest/WebApplication1/bin/Debug/net6.0
/ApiRest/WebApplication1/obj
/ApiRest/GeradorToken/bin/Debug/net6.0
/ApiRest/GeradorToken/obj
/AcessoBancoDados/AcessoEntity/bin/Debug/net6.0
/ApiRest/ApiQueExigeAutenticacao/bin/Debug/net6.0
/ApiRest/ApiQueExigeAutenticacao/obj
/AcessoBancoDados/LinqLambda/bin/Debug/net6.0
/AcessoBancoDados/LinqLambda/obj
/WebApplication1/ApiAutenticada/obj
/WebApplication1/.vs/WebApplication1
/ApiRest/ConsumidorRest/bin/Debug/net6.0
/ApiRest/ConsumidorRest/obj
/ConsoleApp1
/AcessoBancoDados/EntityDataAnnotations/bin/Debug/net6.0
/AcessoBancoDados/EntityDataAnnotations/obj
/AcessoBancoDados/EntityFluent/obj
/AcessoBancoDados/EntityFluent/bin/Debug/net6.0
/ApiRest/ApiComEntity/bin/Debug/net6.0
/ApiRest/ApiComEntity/obj
/APIPadroes/APIPadroes/bin/Debug/net6.0
/APIPadroes/.vs/APIPadroes/v17
/APIPadroes/APIPadroes/obj
/ApiRest/ConsumidorAPIRestFlurl/bin/Debug/net5.0
/ApiRest/ConsumidorAPIRestFlurl/obj
/ApiRest/ApiRest/bin/Release/net6.0
/ApiRest/ApiRest/.config
/ApiRest/ApiRest/Properties/PublishProfiles
/APIPadroes/.vs/APIPadroes
/ApiRest/TestProject/bin/Debug/net6.0
/ApiRest/TestProject/obj
