################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ArquivoTexto/obj
/ArquivoTexto/bin/Debug/net5.0
/Aula2Exemplo/obj
/Aula2Exemplo/bin/Debug
/OutroProjeto/obj
/AulaOrientacaoObjetos/bin/Debug/net5.0
/AulaOrientacaoObjetos/obj
/ComparandoObjetos/bin/Debug/net6.0
/ComparandoObjetos/obj
/Delegate/bin/Debug/net6.0
/Delegate/obj
/DelegateParametro/obj
/EventosEDelegate/obj
/SobrecargaOperador/bin/Debug/net5.0
/SobrecargaOperador/obj
/UpcastDowncast/obj
/UsandoDispose/bin/Debug/net5.0
/UsandoDispose/obj
/DelegateParametro/bin/Debug/net6.0/ref
/DelegateParametro/bin/Debug/net6.0
/EventosEDelegate/bin/Debug/net6.0
/ExerciciosResolvidosRoteiro3/Exercicio3/bin/Debug/net5.0
/ExerciciosResolvidosRoteiro3/.vs/ExerciciosResolvidosRoteiro3/v17
/ExerciciosResolvidosRoteiro3/Exercicio3/obj
/ExerciciosResolvidosRoteiro3/ExerciciosResolvidosRoteiro3/obj
/AulaOrientacaoObjetos/bin/Debug/net6.0
/Basico/bin/Debug/net6.0
/Basico/obj
/ExerciciosResolvidosRoteiro3/.vs/ExerciciosResolvidosRoteiro3/DesignTimeBuild
/Heranca/bin/Debug/net5.0
/Heranca/obj
