<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>

<!--
//Console.WriteLine("\n\n Primeiro Exemplo");
            //// Definindo a consulta.
            //IEnumerable<int> consultaNotas = from nota in notas
            //    where nota > 80
            //    orderby nota ascending
            //    select nota;

            //// Resultado da consulta.
            //foreach (int i in consultaNotas)
            //{
            //    Console.Write(i + " ");
            //}
            
            
            //Console.WriteLine("\n Segundo Exemplo");
            //var consulta = from x in listaDis
            //               where x.id >= 2
            //               select x;            

            //foreach (Disciplina dis in consulta)
            //{
            //    Console.WriteLine("ID:"+ dis.id+" Nome: "+ dis.nome + " ");
            //}
            
            //var consulta2 = from x in listaDis
            //               where x.nome.StartsWith("Plata")
            //               select x;
            
            //Console.WriteLine("\n\n Terceiro Exemplo");
            //foreach (Disciplina dis in consulta2)
            //{
            //    Console.WriteLine("ID:" + dis.id + " Nome: " + dis.nome + " ");
            //}

            //var consulta3 = from x in listaDis
            //                where x.nome.StartsWith("Plata") && x.id < 2
            //                select x;


            //Console.WriteLine("\nQuarto Exemplo");
            //foreach (Disciplina dis in consulta3)
            //{
            //    Console.WriteLine("ID:" + dis.id + " Nome: " + dis.nome + " ");
            //}


              //Console.WriteLine("\n\nQuinto Exemplo");
            //IEnumerable<IGrouping<char, string>> grupoComida =
            //    from item in alimentos
            //    group item by item[0];            

            //foreach (IGrouping<char, string> ali in grupoComida)
            //{
            //    Console.WriteLine();
            //    for(int i=0; i< ali.Count(); i++)
            //    {
            //        Console.WriteLine("Grupo:" + ali.Key+ " Alimento:" + ali.ElementAt(i));
            //    }
            //}
            
            
            
            
            //Console.WriteLine("\nSexto Exemplo");

            //foreach (var item in inteiros.Where(x => x>=4)) //Que tipo de expressão é esta ?
            //{
            //    Console.WriteLine(item);
            //}
            //Console.WriteLine("\n Segunda Parte ...");

            //foreach (var item in inteiros.OrderByDescending(x => x)) //Que tipo de expressão é esta ?
            //{
            //    Console.WriteLine(item);
            //}
            
            
            
            //ULTIMA QUESTÂO
            Console.WriteLine("\n Linq");
            var listaClubeLinq = from clube in listaClubes
                             orderby clube.pontos descending, clube.vitorias descending, clube.saldo descending
                             select clube;

            foreach (Clube cb2 in listaClubeLinq)
            {
                Console.WriteLine(cb2.nome + "   " + cb2.pontos + "   " + cb2.vitorias + "   " + cb2.saldo);
            }

            Console.WriteLine("\n Lambda");
            foreach (Clube cb3 in listaClubeLinq.OrderByDescending(x => x.pontos).
                ThenByDescending(x => x.vitorias).
                ThenByDescending(x => x.saldo))
            {
                Console.WriteLine(cb3.nome + "   " + cb3.pontos + "   " + cb3.vitorias + "   " + cb3.saldo);
            }
            
            

-->